@import './stile/navbar';
@import './stile/colors';
@import './stile/fonts';
@import './stile/home';
@import './stile/footer';
@import './stile/aboutMe';
@import './stile/skills';
@import './stile/contact';
@import './stile/experiences';

body {
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
	text-decoration: none !important;
  color:inherit !important;
}
a:hover {
  color:$darkg !important;
  
}

// h1{
//   font-weight: $titoloWeight !important;
//   font-size: $titoloSize !important;
// }
// h3{
//   font-weight: $sottotitoloWeight !important;
//   font-size: $sottotitoloSize !important;
// }
// p, label{
//   font-weight: $paragrafoWeight !important;
//   font-size: $paragrafoSize !important;
// }
