.desktop-about-query {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;

    .half-about {
        width: 100%;
    }

    .contenitore-img {
            width: 100vw;
            height: 400px;
            background-color: $purple;
        .spontaneous-img {
            font-family: 'Parppim';
            font-size:100pt;
            color:$white;
        }
    }
    .bordo{
            text-align: center;
            border: 1px solid transparent;
            padding:20px 60px;
            box-shadow: 5px 5px 10px 0px gray;
            color:$purple;
    }
    .bordo:hover{
        color: $darkg;
        cursor: pointer;
    }
}
@media screen and (max-width:991px) {
    .desktop-about-query {
        .contenitore-img {
            .spontaneous-img {
                font-size: 55pt;
            }
        }
    }
}

@media screen and (max-width:538px) {
    .desktop-about-query {
        .contenitore-img {
            height:350px;
            .spontaneous-img {
                font-size:35pt;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width:342px) {
    .desktop-about-query {
        .contenitore-img {
            .spontaneous-img {
                font-size:30pt;
            }
        }
    }
}

