.desktop-about-query {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;

    .half-about {
        width: 100%;
    }

    .contenitore-img {
            width: 100vw;
            height: 400px;
            background-color: $purple;
        .spontaneous-img {
            width: 50%
        }
    }
    .bordo{
            text-align: center;
            border: 1px solid transparent;
            padding:20px 60px;
            box-shadow: 5px 5px 10px 0px gray;
    }
    .bordo:hover{
        color: $darkg;
        cursor: pointer;
    }
}
@media screen and (max-width:991px) {
    .desktop-about-query {
        .contenitore-img {
            .spontaneous-img {
                width: 70%
            }
        }
    }
}

@media screen and (max-width:538px) {
    .desktop-about-query {
        .contenitore-img {
            .spontaneous-img {
                width: 100%
            }
        }
    }
}

