//pagina contatto
.desktop-contact-query{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .contenitore-titolo{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        .hr-title{
            width:50%;
            border: 1px solid ;
        }
        .hr-title-form{
            width:100%;
            border: 1px solid ;
        }
    }
    .link-size{
        font-weight: $paragrafoWeight !important;
        font-size: $paragrafoSize !important;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 3rem;
        row-gap: 3rem;
        padding: 1rem 0;
        .bordo{
            text-align: center;
            border: 1px solid transparent;
            padding:20px;
            box-shadow: 5px 5px 10px 0px gray;
            .icon-contact-size{
                font-size: 25px;
                margin-bottom: 20px;
            }
        }
        .bordo:hover{
            padding-top:30px;
            color: $darkg;
        }
    }
    //parte del form
    .form-style{
        width:90%;
        max-width: 600px;
        .row{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .input-group{
                flex-basis: 46%;
            }
        }
        .input-group{
            margin-bottom: 40px;
            position: relative;
            box-shadow: 5px 5px 10px 0px gray;
            padding:0;
            input,textarea{
                width:100%;
                padding:10px;
                outline:0;
                border: 1px solid transparent;
                color: $black;
                background: transparent;
                font-size: 15px;
            }
            label{
                height: 100%;
                position: absolute;
                top: 0;
                padding: 10px;
                color: $black;
                cursor: text;
                transition: 0.2s;
            }
            input:focus~label,
            input:valid~label,
            textarea:focus~label,
            textarea:valid~label{
                top: -40px;
                font-size: 14px;
            }
        }
        button{
            padding:10px 0;
            color: $black;
            outline: none;
            border: 1px solid transparent;
            background: transparent;
            width: 100%;
            cursor:pointer;
            box-shadow: 5px 5px 10px 0px gray;
        }
    }
}

@media screen and (max-width:768px) {
    //pagina contatto
    .desktop-contact-query{
        .link-size{
            font-size: $didascaliaSize !important;
            grid-template-columns: 1fr;
        }
        //parte del form
        .form-style{
            .row{
                flex-direction: column;
            }
        }
    }
}
