$fontFamily:'serenity', sans-serif;

$titoloWeight: 700;
$titoloSize: 30pt;

$sottotitoloWeight:500;
$sottotitoloSize:24pt;

$paragrafoWeight:300;
$paragrafoSize:18pt;

$didascaliaWeight:100;
$didascaliaSize: 12pt;