.container-fluid {
    .desktop-query {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;

        .larghezza {
            width: 50%;

            h1 {
                font-weight: $titoloWeight !important;
                font-size: 50pt !important;
            }

            h3 {
                font-weight: $sottotitoloWeight !important;
                font-size: $sottotitoloSize !important;
            }

            p {
                font-weight: $paragrafoWeight !important;
                font-size: $paragrafoSize !important;
            }
            .hr-title{
                border: 1px solid;
            }
        }

        .immagineProfilo {
            width: 50%;
            border-radius: 350px;
            box-shadow: 5px 5px 10px 0px gray;
        }
    }
}



@media screen and (max-width:991px) {
    .altezza {
        .tablet-query {
            flex-direction: column-reverse;
            justify-content: center;
            gap: 40px;

            .allineamento {
                text-align: center;
            }

            .larghezza {
                width: 100%;
            }

            .immagineProfilo {
                width: 100%;
            }
        }
    }

}