@import '../stile/fonts';
@import '../stile/colors';

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 1;
    background-color: $white;

    .main-exlogo {
        height: 60px;
    }

    .main-exlogo:hover {
        height: 65px;
    }

    .nav-link {
        font-weight: $paragrafoWeight !important;
        font-size: $paragrafoSize !important;
    }

    .tablet-display {
        display: none !important;
    }

    .selezione-lingua {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            border: none;
            background-color: transparent;
        }

        button:hover:not(:disabled) {
            color: $darkg;
        }
    }
}

@media screen and (max-width:991px) {
    .navbar {
        .container {
            position: relative;

            .tablet-display {
                display: block !important;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .desktop-display {
                display: none;
            }
        }
    }
}