@import '../stile/fonts';
@import '../stile/colors';

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 1;

    .nav-link {
        font-weight: $paragrafoWeight !important;
        font-size: $paragrafoSize !important;
    }
    
}
.selezione-lingua{
    display: flex;
    button{
        border: none;
        background-color: transparent;
    }
    button:hover:not(:disabled){
        color: $darkg;
    }
}


.main-exlogo {
    height: 60px;
}
.main-exlogo:hover {
    height: 65px;
}